$font-stack: Helvetica, sans-serif;
$main-color: #493d31;
$accent-color: #b2dcfc;


@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tabletLandscape {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin cushion($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}



@mixin border($color) {
  border: 1px solid $color;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  font-size: 16px;
  @include tablet {
    font-size: 18px;
  };
  @include tabletLandscape {
    font-size: 18px;
  };
  @include desktop {
    font-size: 20px;
  };
}

body {
  width: 100vw;
  font: 1em $font-stack;
  color: $main-color;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  overflow: hidden;
  display: flex;
  // align-items: center;
  @include tablet {
    height: 300px;
  }
  @include tabletLandscape {
    height: 400px;
  }
  @include desktop {
    height: 500px;
  }
  background: #f0f;
  // @include size(100vw, auto);

  .main {
    // @include size(100vw, auto);
    z-index: 0;
  }
  .title {
    @include size(50vw, auto);
    @include cushion(0, 1rem 0 0 1rem) ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    @include tablet {
      @include size(40vw, auto);
    }
    @include tabletLandscape {
      @include size(30vw, auto);
    }
  }
}

.hospitality {
  display: flex;
  align-items: flex-end;
  .main {
    @include size(100vw, auto)
  }
}

.attractions {
  display: flex;
  flex-direction: column;
  align-items: center;
  .main {
    flex-shrink: 0;
  }
  @include tablet {
    .main {
      @include size(140%, auto);
    }
  }
  @include mobile {
    max-height: 286px;
    align-self: flex-start;
    .main {
      @include size(100%, auto);
      }
    }
  }

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  .main {
    flex-shrink: 0;
  }
  @include tablet {
    .main {
      @include size(130%, auto);
    }
  }
  @include mobile {
    max-height: 286px;
    align-self: flex-start;
    .main {
      @include size(100%, auto);
      }
    }
  }

.news{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  @include mobile {
    max-height: 286px;
  }
  .main {
    flex-shrink: 0;
    width: 100%;
    @include tablet {
      position: relative;
      top: 2rem;
    }
  }
  img {
    // height: 100%;
  }
}

// .events {
//
//   .main {
//     width: 100%;
//
//   }
// }

.home {
  display: flex;
  align-items: center;
  .main {
    @include size(100vw, auto)
    @include desktop {
      position: relative;
      top: -3rem;
    }
  }
}



.links {
  display: flex;
  flex-flow: column nowrap;
}

.directions {
  p {
    @include cushion(0, .5rem);
  }
}
.map {
  display: none;
  // @include tablet {
  // }
  @include size(100vw, auto);
}

.nav {
  order: 1;
  width: 100%;
  @include tablet {
    order: -1;
  }

  ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    justify-content: space-between;
    @include tablet {
      // display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      // justify-content: space-between;
      // border-right: 1px solid $main-color;
    }

    a {
      color: $main-color;
      width: 100%;
      @include tablet {
        border-left: 1px solid $main-color;
      }

      li {
        @include cushion(5px, 0);
        text-transform: uppercase;
        letter-spacing: .05em;
        text-align: center;
        background-color: $accent-color;
        border-bottom: 1px solid $main-color;
        @include tablet {
          border-bottom: 0;
        }
      }

      li:hover {
        background-color: darken($accent-color, 20%);
      }

    }

    a:first-of-type {
      border-left: 0px;
      border-top: 1px solid $main-color;
      @include tablet {
        border-top: 0;
        border-left: 0;
      }
    }
    a:hover {
      color: white;
    }
  }
}
